body{
    background-color: aquamarine;
}

span{
    font-size: 100px;
}

.material-symbols-outlined{
    font-size: 100px;
    color: blue;
}

.icones{
    font-size: 100px;
    color: red;
    transition: 1s;
}

.icones:hover{
    color: white;
    background-color: purple;
    font-size: 200px;
    transition: 3s;
}
