body{
    background-color: rgb(29, 0, 250);

    text-align: center;
}
/* Estilização via tag*/
ul{
    background-color: aqua;
    list-style: none;

}
li{
    /*Cor de fundo*/
    background-color:black;

    /* Cor de texto */
    color:white;

    /* Larfura do elemento */
    width: 300px;

    /* Altura do elemento */
    height: 50px;

    /* Tamanho da fonte */
    font-size: 30px;

    margin-left: auto;
    margin-right: auto;
}
h2{
    font-size: 70px;
    color: blueviolet;
    /* Estilo do texto */
    font-style: italic;
    /* Familia da fonte */
    font-family: 'Segoe UI', Tahoma, sans-serif;

}