/* Seleciona todos os elementos */
    *{
        margin: 0px;
        padding: 0px;
    }
    
    /* seletor por tag */
    body{
        background-color: green;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding-top: 20px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 50px;
    }
    /* seletor por id */
    #topo{
        background-color: greenyellow;
        padding: 10px;
        margin: 15px 0px;
        border: 10px solid;
    }

    /* seletor por classe */
    .texto{
        font-style: italic;
        text-decoration: underline;
        font-size: 35px;
    }

    /* estiliza os elementos com a classe = bloco */
    .bloco{
        background-color: greenyellow;
        margin-bottom: 20px;
        padding: 20px;
        margin-top: 20px;
        border: 5px dashed ;
        border-radius: 20px;
    }

    .destaque{
        background-color: gold;
    }
    .texto-destaque{
        color: darkred;
        font-weight: bold;
    }

    #caixa-unica{
        padding: 10px;
        border: 5px solid purple;
        background-color: #ede9fe;
    }

    /* Seletor com filtro */
    div p{
        color: blue;
    }

    /* Seleciona todos o "p" que são filhos diretos da classe específica*/
    .pai-direto > p{
        color: green;
        padding: 5px;
    }

    /* Seleciona todo o "p" que vem logo após um h3 */
    h2 + h3 + p{
        color: red;
    }

    /* Seleciona todos o "p" que vem após o h4*/
    h4 ~ p {
        background-color: blueviolet;
        color: yellow;
    }

    /*Seleciona o tipo de input especifico  */
    input[type="text"]{
        border: 2px solid orange;
        pad: 8px;
        margin-right: 10px;
    }

    /* SELECIONA TODOS OS LINKS QUE TENHAM ESSE VALOR NO HREF */
    a[href*="microsoft"]{
        color:green;
        font-weight: bolder;
    }

    h5, h6{
        color: purple;
        margin: 5px 0px;
        font-weight: bolder;
    }

    /* SELECIONAR O ELEMENTO QUE TEM AS DUAS CLASSES AO MESMO TEMPO */
    .botao.ativa{
        color: aqua;
        font-size: 30px;
        padding: 50px;
    }

    /* SELECIONA O 'p' DESDE QUE TEBGA A CLASS AVISO */
    p.aviso{
        color: chartreuse;
    }


    /* SELECIONA APENAS A DIV QUE TENHA O ID PAINEL */
    div#painel{
        background-color: red;
        padding: 10px;
    }


    /* SELECIONA FILHO DENTRO DE FILHO */
    #menu ul li a{
        color: violet;
    }